/*Global*/
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #D6D8FF !important;
}

/*Typography*/
p {
    margin-top: 36px;
    margin-bottom: 24px;
    margin-left: 4px;
    line-height: 26px;
    font-size: 16px;
    color: #3138B1;
}
h3 {
    font-size: 14px;
    color: #0C1E34;
}

/*Top Navigation*/
#navBar {
    display: flex;
    flex-direction: row;
    margin: 64px 12% 0;
}
#logo {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 25%;
}
#navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
}

#navigation a{
    text-decoration: none;
    color: #3138B1;
    margin-left: 26px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#navigation a:hover {
    color: #45DCEA;
}

.active {
    color: #FF0BC2;
    font-weight: 600;
    position: relative;
}
.active::after {
    content: '';
    height: 4px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    display: block;
    background: #FF0BC2;
    position: absolute;
    margin-top: 14px;
}

/*.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5%;
}*/

/*Main content*/
#heroSection {
    display: grid;
    width: 76%;
    min-height: 768px;
    height: 70vh;
    margin: 0px 12%;
    grid-template-rows: 100%;
    grid-template-columns: 28% 44% 28%;
    grid-template-areas:
    "column1Grid column2Grid column3Grid";
}
.heroSectionArea {
    display: flex;
    flex-direction: row;
    position: relative;
}

#column1Grid {
    grid-area: column1Grid;
    width: 85%;
    margin-top: 258px;
    min-height: 312px;
    height: 30vh;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "hiBlurb hiBlurb"
        "resumeDocx resumePdf";
    }
#hiBlurb {
    grid-area: hiBlurb;
}
#resumeDocx {
    grid-area: resumeDocx;
}
#resumePdf {
    grid-area: resumePdf;
    margin-left: 5%;
}
button {
    background-color: white;
    border: 1px solid #FF0BC2;
    width: 153px;
    height: 44px;
    border-radius: 44px;
    box-shadow: 4px 4px #FF0BC2;
    color: #FF0BC2;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    border: 1px solid #45DCEA;
    box-shadow: 4px 4px #45DCEA;
    color: #45DCEA;
}
.column1Area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#column2Grid {
    grid-area: column2Grid;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column2area {
    display: flex;
    justify-content: center;
}

#column3Grid {
    grid-area: column3Grid;
    margin-top: 32px;
    width: 100%;
    min-height: 736px;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 100%;
    grid-template-areas:
        "project1"
        "project2"
        "project3";
}
#project1 {
    grid-area: project1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}
#project1Image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-image: url("../images/home_ClimbZen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project2 {
    grid-area: project2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
#project2Image {
    height: 328px;
    width: 328px;
    border-radius: 50%;
    background-image: url("../images/home_USDA.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.4s;
}
#project2Image:hover {
    /* background: linear-gradient(to top, #45dceaec, #3137b1ec), url("../images/home_USDA.png"); */
    background-image: url("../images/home_USDA_hover.png");
}
#project3 {
    grid-area: project3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
}
#project3Image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-image: url("../images/home_Gulli.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column3area {
    display: flex;
    justify-content: flex-end;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 12% 0;
}