html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #D6D8FF !important;

}

p {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #3138B1;
}

h3 {
    font-size: 14px;
    color: #0C1E34;
}

/*Nav bar*/
.inline-block {
    display: inline-block;
}

.logo {
    float: left;
    margin-top: 64px;
    padding: 0;
    overflow: hidden;
}

nav {
    float: right;
    list-style-type: none;
    margin-top: 64px;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: 3138B1;
    text-align: center;
    padding: 8px 13px;
    text-decoration: none;
    color: #3138B1;
    transition-duration: 0.4s;
}
  
li a:hover:not(.active) {
    color: #45DCEA;
}

.active {
    position: relative;
}

.active a{
    color: #FF0BC2;
    font-weight: 600;
}

.active::after {
    content: '';
    height: 4px;
    text-align: center;
    width: 55px;
    border-radius: 4px;
    display: block;
    background: #FF0BC2;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Content*/
button {
    background-color: white;
    border: 1px solid #FF0BC2;
    width: 153px;
    height: 44px;
    border-radius: 44px;
    box-shadow: 4px 4px #FF0BC2;
    color: #FF0BC2;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    border: 1px solid #45DCEA;
    box-shadow: 4px 4px #45DCEA;
    color: #45DCEA;
}

/*
.left {
    float: left;
    width: 344px;
    margin-top: 258px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
}
*/

/*Footer*/
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 241px 64px;
}